/* UTILITY */
.bg_header {
    background-color: #2c3e50;
}

.bg_main {
    background-color: #1abc9c;
}

.bg_footer_top {
    background-color: #3a546d;
}

.bg_footer_bot {
    background-color: #2c3e50;
}

.content {
}